body {
    margin: 0;
    font-family: Helvetica, Sans-Serif;
    background-color: #EEF0F2;
    color: #141414;
}

html {
    height: 100%;
    width: 100%;
    font-size: 14pt;
}

a{
    color: #0D21A1;
}

.topnav{
    background-color: #A3A5B8; 
    overflow: hidden;
} 

.topnav a{
    color: #141414;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}   

.topnav a:hover{
    background-color: #DCDDE4;
} 

.topnav a.active{
    background-color: #DCDDE4;
}

p{
    margin: 0;
}

.tile-header{
    font-size: 1.5rem;
    background-color: #011638;
    color: #EEF0F2;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.tile-content{
    margin-top: 0;
    background-color: #A3A5B8;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

.tile{
    margin: 15px 10% 15px 10%;
	padding: 0px;
}

a.link-tile{
    text-decoration: none;
    color: #141414;
}

.title{
    text-align: center;
}