body {
    margin: 0;
    font-family: Helvetica, Sans-Serif;
    background-color: #EEF0F2;
    color: #141414;
}

.topnav{
    background-color: #333; 
    overflow: hidden;
} 

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14pt;
}   

.topnav a:hover{
    background-color: #ddd;
    color: black;
} 

.topnav a.active{
    background-color: #ddd; 
    color: white;
}

.tile-header{
    font-size: 1.5rem;
}

a{
    color: #0D21A1;
}

a.tile{
    text-decoration: none;
    color: #141414;
}